{% extends 'base.html' %}

{% load bulma_tags i18n static %}

{% block content %}

<div class="container is-fluid">
  <div class="has-text-centered">
    <a class="button is-info is-rounded is-outlined" href="{% url 'vote:scrutins' %}">
      {% trans "Retour à la liste des scrutins" %}
    </a>
  </div>
  <section class="section">
    <div class="columns is-centered is-desktop">
      <div class="column is-half-desktop">
        <h1 class="title has-text-centered">{% trans "Ajout de propositions" %}</h1>
        <div class="box">
          <form class="form" method="post">
            {% csrf_token %}
            <div class="field prop">
                <label for="id_text" class="label">Proposition</label>
                <div class="control">
                  <input type="text" name="proposition" maxlength="255" class="control input" required="" id="id_text">
                </div>
            </div>
              <div class="field prop">
                <label for="id_text" class="label">Proposition</label>
                <div class="control">
                  <input type="text" name="proposition" maxlength="255" class="control input" required="" id="id_text">
                </div>
            </div>
            <div class="fields-container">
            </div>
              <p id="add-button" class="is-clickable my-3"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Ajouter une proposition</p>
              <p id="delete-button" class="is-clickable my-3"><i class="fa fa-minus mr-2" aria-hidden="true"></i>Supprimer la dernière proposition</p>
            <div class="field has-text-centered">
              <button id="button-validation" class="button is-success is-rounded is-outlined" type="submit">{% trans "Valider" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
validation = document.getElementById("button-validation")
validation.disabled = true

addButton = document.getElementById("add-button")
deleteButton = document.getElementById("delete-button")

fieldsContainer = document.querySelector(".fields-container")
prop = document.querySelector('.prop');
count = 2

propositions = document.querySelectorAll('.input');
propositions.forEach(proposition => {
  proposition.addEventListener('change', event => {
    verificationForm()
  })
})

function verificationForm(){
  propositions = document.querySelectorAll('.input');
  erreur = document.getElementById("erreur")
  if (erreur) {
    erreur.remove()
  }
  for(var i=0;i<propositions.length;i++){
    if (propositions[i].value === "") {
      validation.closest(".form").insertAdjacentHTML(
        'afterbegin',
        `<div id="erreur" class="mb-2"><span class="help is-danger ">{% trans "Toutes les propositions doivent contenir un texte." %}</span></div>`
      )
      validation.disabled = true
      return
    }
  }
  validation.disabled = false
}

validation.addEventListener('click', () => {
  if(!validation.disabled){
    validation.classList.replace("is-outlined", "is-loading")
  }
})

addButton.addEventListener('click', () => {
  new_prop = prop.cloneNode(true)
  new_prop.children[1].children[0].id=`id_text${count}`
  count++
  new_prop.children[1].children[0].value=""
  new_prop.addEventListener('change', event => {
    verificationForm()
  })
  fieldsContainer.appendChild(new_prop)
  verificationForm()
})

deleteButton.addEventListener('click', () => {
  lastField = fieldsContainer.lastElementChild
  if (lastField !== null){
    lastField.remove()
  }
  verificationForm()
})

</script>

{% endblock %}