{% extends 'base.html' %}

{% load bulma_tags i18n static %}

{% block content %}

<div class="container is-fluid">
  <section class="section">
    <h1 class="title has-text-centered">
        {% trans "Choix du syndicat pour lequel vous allez voter" %}
    </h1>
    <div class="columns is-centered is-desktop">
      <div class="column is-half-desktop">
          <div class="box">
            <form class="form fullwidth" method="post">
              {% csrf_token %}
              {{ form|bulma}}
              <div class="field has-text-centered">
                <button id="button_validation" class="button is-success is-rounded is-outlined" type="submit">{% trans "Valider" %}</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}