{% extends 'base.html' %}

{% load bulma_tags i18n static %}

{% block content %}

<div class="container is-fluid">
  <div class="has-text-centered">
    <a class="button is-info is-rounded is-outlined" href="{% url 'vote:scrutins' %}">
      {% trans "Retour à la liste des scrutins" %}
    </a>
  </div>
  <section class="section">
    <div class="columns is-centered is-desktop">
      <div class="column is-half-desktop">
        <h1 class="title has-text-centered">{% trans "Vote par délégués" %}</h1>
        <div class="box">
          <form class="form" method="post">
            {% csrf_token %}
            {{ form|bulma}}
            <div class="field has-text-centered">
              <button class="button is-success is-rounded is-outlined" type="submit">{% trans "Valider" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}