{% extends 'base.html' %}

{% load i18n static %}

{% block content %}

<div class="container is-fluid">
    <div class="has-text-centered">
        <a class="button is-info is-rounded is-outlined" href="{% url 'vote:scrutins' %}">
            {% trans "Retour à la liste des scrutins" %}
        </a>
    </div>

    <div class="columns is-centered">
        <div class="column is-full">
            <div class="box m-6 has-text-centered">
                <h1 class="title has-text-centered">{{object.intitule}}</h1>
                <h2 class="subtitle has-text-centered">
                    {{object.type_scrutin_display}}
                </h2>
                <h2 class="subtitle has-text-centered">
                    {% if object.ouvert %}
                        {% trans "En cours" %}
                    {% else %}
                        {% if opposition or priorisation %}
                            {{ object.resultat }}
                        {% elif object.adoption %}
                            {% trans "Adopté" %}
                        {% else %}
                            {% trans "Rejeté" %}
                        {% endif %}
                    {% endif %}
                </h2>
            </div>
            {% if votes %}
            <div>
                <a class="button is-success is-rounded is-outlined" href="{% url 'vote:scrutin-export' pk=object.pk %}">
                    {% trans "Export csv" %}
                </a>
            </div>
            <div class="table-container">
                <table class="table table-center is-fullwidth">
                    <thead>
                        <tr>
                            <th>{% trans "Syndicat" %}</th>
                            <th>{% trans "Vote du syndicat" %}</th>
                            {% if not majorite_syndicats%}
                                <th>{% trans "Mandats pour" %}</th>
                                <th>{% trans "Mandats contre" %}</th>
                                <th>{% trans "Mandats abstention" %}</th>
                                <th>{% trans "Mandats NPPV" %}</th>
                            {% endif %}
                            {% if user.is_admin %}
                            <th>{% trans "Action" %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for vote in votes %}
                        <tr>
                            {% if opposition or priorisation %}
                                <td>{{vote.utilisateur}}</td>
                                <td>{{vote.resultat}}</td>
                            {% elif majorite_syndicats %}
                                <td>{{vote.utilisateur}}</td>
                                <td>{{vote.vote_utilisateur}}</td>
                            {% else %}
                            <td>{{vote.utilisateur}}</td>
                                <td>{{vote.vote_utilisateur}}</td>
                                <td>{{vote.mandats_pour}}</td>
                                <td>{{vote.mandats_contre}}</td>
                                <td>{{vote.mandats_abstention}}</td>
                                <td>{{vote.mandats_nppv}}</td>
                            {% endif %}

                            {% if user.is_admin %}
                                <td>
                                {% if opposition %}
                                    <a class="button is-warning" href="{% url 'vote:vote-opposition-modification' scrutin=object.pk pk=vote.pk %}">{% trans "Modifier" %}</a>
                                {% elif priorisation %}
                                    <a class="button is-warning" href="{% url 'vote:vote-priorisation-modification' scrutin=object.pk pk=vote.pk %}">{% trans "Modifier" %}</a>
                                {% else %}
                                    <a class="button is-warning" href="{% url 'vote:vote-simple-modification' scrutin=object.pk pk=vote.pk %}">{% trans "Modifier" %}</a>
                                {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h2 class="subtitle has-text-centered">
                {% trans "Il n'y a pas eu de vote pour ce scrutin!" %}
            </h2>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}