{% extends 'base.html' %}

{% load bulma_tags i18n static %}

{% block content %}
  <div class="container is-fluid">
    <div class="has-text-centered">
      <a class="button is-info is-rounded is-outlined" href="{% url 'vote:scrutins' %}">
          {% trans "Retour à la liste des scrutins" %}
        </a>
    </div>
    <section class="section">
      <h1 class="title has-text-centered">{% trans "Fermeture du scrutin" %}</h1>
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <div class="box m-6 has-text-centered">
            <form method="post" class="form has-text-centered">{% csrf_token %}
              <p class="m-2"><strong>{% trans "Êtes vous sûr·e·s de vouloir fermer le scrutin "%} "{{object}}"?</strong></p>
              <input class="button is-danger is-rounded is-outlined" type="submit" value="{% trans 'Confirmer' %}">
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}