{% extends 'base.html' %}

{% load i18n static %}

{% block content %}

<div class="container is-fluid">
    <section class="section">
        <h1 class="title has-text-centered">
            {% if user.is_admin %}
            {% trans "Liste des scrutins" %}
            {% else %}
            {% trans "Scrutins passés" %}
            {% endif %}
        </h1>
        <div class="columns is-centered">
            <div class="column is-full">
                {% if user.is_admin %}
                <div class="box m-6 has-text-centered">
                    <h2 class="title is-4 has-text-centered">{% trans "Scrutin actuel :" %}</h2>
                    {% if scrutin_actuel %}
                    <p class="title is-5">
                        {% if scrutin_actuel.type_scrutin == 'DELEGUE' %}
                        <a href="{% url 'vote:scrutin-delegue' pk=scrutin_actuel.pk %}">{{scrutin_actuel.intitule}}</a>
                        {% else %}
                        {{scrutin_actuel.intitule}}
                        {% endif %}
                    </p>
                    <p class="subtitle">{{scrutin_actuel.type_scrutin_display}}</p>
                    <p class="subtitle">{% trans "Nombre de syndicats n'ayant pas voté:" %} <strong>{{nombre_syndicats_non_vote}}</strong></p>
                    <div class="has-text-centered mb-2">
                        <a class="button is-info is-rounded is-outlined" href="{% url 'vote:scrutins' %}">
                          <span class="icon">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                          </span>
                          <span>
                            {% trans "Actualiser" %}
                          </span>
                        </a>
                      </div>
                    <a class="button is-danger is-rounded is-outlined" href="{% url 'vote:scrutin-fermeture' pk=scrutin_actuel.pk %}">
                        {% trans "Fermer le scrutin" %}
                    </a>
                    {% else %}
                    <p>{% trans "Il n'y a pas de scrutin actuellement ouvert" %}</p>
                    <a class="mt-2 button is-success is-rounded is-outlined" href="{% url 'vote:scrutin-creation' %}">
                        {% trans "Ouvrir un scrutin" %}
                    </a>
                    {% endif %}
                </div>
                {% endif %}
                {% if object_list %}
                <div>
                    <a class="button is-success is-rounded is-outlined" href="{% url 'vote:scrutins-export' %}">
                        {% trans "Export scrutins csv" %}
                    </a>
                </div>
                <div class="table-container">
                    <table class="table table-center is-fullwidth">
                        <thead>
                            <tr>
                                <th>{% trans "Intitulé" %}</th>
                                <th>{% trans "Type" %}</th>
                                <th>{% trans "Résultat" %}</th>
                                <th>{% trans "Votes syndicats" %}</th>
                                <th>{% trans "Votes mandats" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                      {% for scrutin in object_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'vote:scrutin-detail' pk=scrutin.pk %}" aria-label="Voir le détail du scrutin">
                                        {{scrutin.intitule}}
                                        <span class="icon">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                    </a>
                                </td>
                                <td>{{scrutin.type_scrutin_display}}</td>
                                <td>
                                    {{scrutin.resultat}}
                                </td>
                                <td>
                                    {% if scrutin.type_scrutin == "MAJORITE_SYNDICATS_OPPOSITION" %}
                                        {{scrutin.resultat_syndicats_opposition|linebreaksbr}}
                                    {% elif scrutin.type_scrutin == "MAJORITE_SYNDICATS_PRIORISATION" %}
                                        {{scrutin.resultat_syndicats_priorisation|linebreaksbr}}
                                    {% elif scrutin.type_scrutin != "DELEGUE"%}
                                        {{scrutin.resultat_syndicats|linebreaksbr}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if scrutin.type_scrutin != "MAJORITE_SYNDICATS_OPPOSITION" and scrutin.type_scrutin != "MAJORITE_SYNDICATS" and scrutin.type_scrutin != "MAJORITE_SYNDICATS_PRIORISATION" %}
                                        {{scrutin.resultat_mandats|linebreaksbr}}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h2 class="title is-5 has-text-centered">
                    {% trans "Il n'y a pas encore eu de scrutins!" %}
                </h2>
                {% endif %}
            </div>
        </div>
    </section>
</div>

{% endblock %}