{% extends 'base.html' %}

{% load i18n static %}

{% block content %}

<div class="container is-fluid">
    <section class="section">
        <h1 class="title has-text-centered">
            {% trans "Votes du syndicat " %}
        </h1>
        <div class="columns is-centered">
            <div class="column is-full">
                {% if votes_syndicat %}
                <div>
                    <a class="button is-success is-rounded is-outlined" href="{% url 'vote:mes-votes-export'%}">
                        {% trans "Export txt" %}
                    </a>
                </div>
                <div class="table-container">
                    <table class="table table-center is-fullwidth">
                        <thead>
                            <tr>
                                <th>{% trans "Scrutin" %}</th>
                                <th>{% trans "Type" %}</th>
                                <th>{% trans "Résultat" %}</th>
                                <th>{% trans "Vote syndicat" %}</th>
                                <th>{% trans "Mandats pour" %}</th>
                                <th>{% trans "Mandats contre" %}</th>
                                <th>{% trans "Mandats abstention" %}</th>
                                <th>{% trans "Mandats NPPV" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                      {% for vote_syndicat in votes_syndicat %}
                            <tr>
                                <td>
                                    {% if vote_syndicat.scrutin.type_scrutin == "DELEGUE" %}
                                    {{vote_syndicat.scrutin.intitule}}
                                    {% else %}
                                    <a href="{% url 'vote:scrutin-detail' pk=vote_syndicat.scrutin.pk %}">
                                        {{vote_syndicat.scrutin.intitule}}
                                    </a>
                                    {% endif %}

                                </td>
                                <td>{{vote_syndicat.scrutin.type_scrutin_display}}</td>
                                <td>
                                    {% if vote_syndicat.scrutin.ouvert %}
                                        {% trans "En cours" %}
                                    {% else %}
                                      {% if vote_syndicat.scrutin.type_scrutin == "MAJORITE_SYNDICATS_OPPOSITION" or vote_syndicat.scrutin.type_scrutin == "MAJORITE_SYNDICATS_PRIORISATION" %}
                                            {{ vote_syndicat.scrutin.resultat }}
                                        {% elif vote_syndicat.scrutin.adoption %}
                                            {% trans "Adopté" %}
                                        {% else %}
                                            {% trans "Rejeté" %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% if vote_syndicat.scrutin.type_scrutin == "DELEGUE" %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% elif vote_syndicat.scrutin.type_scrutin == "MAJORITE_SYNDICATS_OPPOSITION" or vote_syndicat.scrutin.type_scrutin == "MAJORITE_SYNDICATS_PRIORISATION" %}
                                    <td>{{vote_syndicat.vote.resultat}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% else %}
                                    <td>
                                        {{vote_syndicat.vote.vote_utilisateur}}
                                    </td>
                                    <td>
                                        {{vote_syndicat.vote.mandats_pour}}
                                    </td>
                                    <td>
                                        {{vote_syndicat.vote.mandats_contre}}
                                    </td>
                                    <td>
                                        {{vote_syndicat.vote.mandats_abstention}}
                                    </td>
                                    <td>
                                        {{vote_syndicat.vote.mandats_nppv}}
                                    </td>
                                {% endif %}
                            </tr>
                      {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h2 class="title is-5 has-text-centered">
                    {% trans "Il n'y a pas encore eu de scrutins!" %}
                </h2>
                {% endif %}
            </div>
        </div>
    </section>
</div>

{% endblock %}