{% extends 'base.html' %}

{% load bulma_tags i18n static %}

{% block content %}

<div class="container is-fluid">
  <div class="has-text-centered">
    <a class="button is-info is-rounded is-outlined" href="{% url 'vote:page-vote' %}">
      <span class="icon">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </span>
      <span>
        {% trans "Actualiser" %}
      </span>
    </a>
  </div>
  <section class="section">
    <div class="columns is-centered is-desktop">
      <div class="column is-half-desktop">
        {% if scrutin %}
        <h1 class="title has-text-centered">{{scrutin.intitule}}</h1>
          {% if deja_vote %}
          <p class="subtitle has-text-centered">{% trans "Vous avez déjà voté pour ce scrutin" %}</p>
          <div class="has-text-centered">
            {% if opposition %}
              <a class="button is-warning is-rounded" href="{% url 'vote:vote-opposition-modification' scrutin=scrutin.pk pk=vote_existant.pk %}">
                <span class="icon">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </span>
                <span>
                  {% trans "Modifier mon vote" %}
                </span>
              </a>
            {% elif priorisation %}
              <a class="button is-warning is-rounded" href="{% url 'vote:vote-priorisation-modification' scrutin=scrutin.pk pk=vote_existant.pk %}">
                <span class="icon">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </span>
                <span>
                  {% trans "Modifier mon vote" %}
                </span>
              </a>
            {% else %}
              <a class="button is-warning is-rounded" href="{% url 'vote:vote-simple-modification' scrutin=scrutin.pk pk=vote_existant.pk %}">
                <span class="icon">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </span>
                <span>
                  {% trans "Modifier mon vote" %}
                </span>
              </a>
            {% endif %}
          </div>
          {% else %}
          {% if not majorite_syndicats %}
          <p class="subtitle has-text-centered">{% trans "Nombre de mandats à répartir:" %} {{user.nombre_mandat}}
          </p>
          {% endif %}
          {% if vote_admin %}
          <p class="notification my-2 is-warning subtitle has-text-centered">{% trans "Attention : Vous votez à la place du syndicat " %}{{user}}
          </p>
          {% endif %}
          {% if priorisation %}
          <p class="has-text-centered">{% trans "Les scores doivent aller de " %} {{nombre_propositions}}{% trans " (maximum) à 1 (minimum). Deux propositions ne peuvent pas avoir le même score." %}</p>
          {% endif %}
          <div class="box">
            <form class="form" method="post">
              {% csrf_token %}
              {{ form|bulma}}
              <div class="field has-text-centered">
                <button id="button_validation" class="button is-success is-rounded is-outlined" onclick="goToConfirmModal()">{% trans "Valider" %}</button>
              </div>
              <div class="modal">
                <div class="modal-background" onclick="modal.classList.remove('is-active')"></div>
                <div class="modal-card">
                  <footer class="modal-card-foot">
                    <div class="button is-rounded" aria-label="close" onclick="modal.classList.remove('is-active')">
                      Annuler
                    </div>
                    <button id="button_confirmation" class="button is-success is-rounded" type="submit">{% trans "Confirmer ce vote" %}</button>
                  </footer>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        {% else %}
        <h1 class="title has-text-centered">{% trans "Il n'y a pas de scrutins ouverts" %}</h1>
        {% endif %}
      </div>
    </div>
  </section>
</div>
{% if scrutin and deja_vote is False and not majorite_syndicats %}
<script>
  nombre_mandat = {{user.nombre_mandat}}
  mandat_pour = document.getElementById("id_mandats_pour")
  mandat_contre = document.getElementById("id_mandats_contre")
  mandat_abstention = document.getElementById("id_mandats_abstention")
  mandat_nppv = document.getElementById("id_mandats_nppv")
  validation = document.getElementById("button_validation")

  function verificationMandats(){
    somme = (parseInt(mandat_pour.value) || 0) + (parseInt(mandat_contre.value) || 0) + (parseInt(mandat_abstention.value) || 0) + (parseInt(mandat_nppv.value) || 0)
    erreur_mandat = document.getElementById("erreur_mandat")
    erreur_trop_de_mandat = document.getElementById("erreur_trop_de_mandat")
    if (somme < nombre_mandat){
      if(erreur_mandat == null){
        mandat_pour.closest(".form").insertAdjacentHTML(
          'afterbegin',
          `<div id="erreur_mandat" class="mb-2"><span class="help is-danger ">{% trans "Vous devez attribuer l\'ensemble de vos mandats" %}</span></div>`
        )
      }
      if(erreur_trop_de_mandat){
        erreur_trop_de_mandat.remove()
      }
      validation.disabled = true
    }else if (somme > nombre_mandat){
      if(erreur_trop_de_mandat == null){
        mandat_pour.closest(".form").insertAdjacentHTML(
          'afterbegin',
          `<div id="erreur_trop_de_mandat" class="mb-2"><span class="help is-danger ">{% trans "Vous ne pouvez attribuer plus de mandats que vous n\'en possedez" %}</span></div>`
        )
      }
      if(erreur_mandat){
        erreur_mandat.remove()
      }
      validation.disabled = true
    }else{
      if(erreur_mandat){
        erreur_mandat.remove()
      }
      if(erreur_trop_de_mandat){
        erreur_trop_de_mandat.remove()
      }
      validation.disabled = false
    }
  }

  verificationMandats()

  mandat_pour.addEventListener('input', () => {
    verificationMandats()
  })
  mandat_contre.addEventListener('input', () => {
    verificationMandats()
  })
  mandat_abstention.addEventListener('input', () => {
    verificationMandats()
  })
  mandat_nppv.addEventListener('input', () => {
    verificationMandats()
  })

  confirmation = document.getElementById("button_confirmation")

  modal = document.querySelector(".modal")
  modalContent = document.querySelector(".modal-card")

  vote_utilisateur = document.getElementById("id_vote_utilisateur")
  voteUtilisateurField = document.querySelector(".field")
  voteUtilisateurField.insertAdjacentHTML(
    'afterend',
    `<label class="help checkbox my-2"><input class="mr-1" type="checkbox" id="mandats_idem_syndicat">Attribuer tous les mandats au choix du syndicat</label>`
  )

  function verificationVotes () {
    warning = document.querySelector(".is-warning")
    cardHeader = document.querySelector(".modal-card-head")
    cardBody = document.querySelector(".modal-card-body")
    warning ? warning.remove() : ''
    cardHeader ? cardHeader.remove() : ''
    cardBody ? cardBody.remove() : ''

    modalContent.insertAdjacentHTML(
      'afterbegin',`<header class="modal-card-head">
      <p class="modal-card-title">Résumé du vote</p>
      <div class="delete" aria-label="close" onclick="modal.classList.remove('is-active')"></div>
      </header>
      <section class="modal-card-body">
      <p>Le syndicat vote : ${vote_utilisateur.value}</p>
      <p>Le nombre de mandats "pour" est de ${mandat_pour.value}</p>
      <p>Le nombre de mandats "contre" est de ${mandat_contre.value}</p>
      <p>Le nombre de mandats "abstention" est de ${mandat_abstention.value}</p>
      <p>Le nombre de mandats "nppv" est de ${mandat_nppv.value}</p>
      </section>`
    )
    if (vote_utilisateur.value === "POUR"){
      if (mandat_pour.value <= mandat_contre.value + mandat_abstention.value) {
        modalContent.insertAdjacentHTML(
          'afterbegin',`<div class="notification is-warning">Le syndicat vote pour la proposition alors que le nombre de mandats "contre" ou "abstention" est supérieur ou égal au nombre de mandats "pour".</div>`
        )
      }
    } else if (vote_utilisateur.value === "CONTRE" || vote_utilisateur.value === "ABSTENTION"){
      if (mandat_pour.value >= mandat_contre.value + mandat_abstention.value) {
        if (vote_utilisateur.value === "CONTRE") {
          modalContent.insertAdjacentHTML(
            'afterbegin',`<div class="notification is-warning">Le syndicat vote contre la proposition alors que le nombre de mandats "pour" est supérieur ou égal au nombre de mandats "contre" ou "abstention".</div>`
          )
        } else {
          modalContent.insertAdjacentHTML(
            'afterbegin',`<div class="notification is-warning">Le syndicat s'abstient lors que le nombre de mandats "pour" est supérieur ou égal au nombre de mandats "contre" ou "abstention".</div>`
          )
        }
      }
    } else if (vote_utilisateur.value === "NPPV"){
      if (mandat_abstention.value > 0 || mandat_contre.value > 0 || mandat_pour.value > 0) {
        modalContent.insertAdjacentHTML(
          'afterbegin',`<div class="notification is-warning">Le syndicat vote contre la proposition alors que le nombre de mandats "pour" ou "abstention" est supérieur ou égal au nombre de mandats "contre".</div>`
        )
      }
    }
  }

  function attributeAllVotes () {
    switch (vote_utilisateur.value) {
      case "POUR":
        id_mandats_contre.value = 0
        id_mandats_abstention.value = 0
        id_mandats_pour.value = nombre_mandat
        id_mandats_nppv.value = 0
        break
      case "CONTRE":
        id_mandats_contre.value = nombre_mandat
        id_mandats_abstention.value = 0
        id_mandats_pour.value = 0
        id_mandats_nppv.value = 0
        break
      case "ABSTENTION":
        id_mandats_contre.value = 0
        id_mandats_abstention.value = nombre_mandat
        id_mandats_pour.value = 0
        id_mandats_nppv.value = 0
        break
      case "NPPV":
        id_mandats_contre.value = 0
        id_mandats_abstention.value = 0
        id_mandats_pour.value = 0
        id_mandats_nppv.value = nombre_mandat
        break
    }
  }

  mandats_idem_syndicat.addEventListener('input', () => {
  attributeAllVotes()
    verificationMandats()
  })

  vote_utilisateur.addEventListener('change', () => {
  if (mandats_idem_syndicat.checked){
    attributeAllVotes()
  }
  verificationMandats()
  })

  function goToConfirmModal(){
  event.preventDefault()
  verificationVotes()
  modal.classList.add("is-active")
  }
</script>
{% elif scrutin and deja_vote is False and opposition %}
<script>
  validation = document.getElementById("button_validation")
  validation.disabled = true
  abstention = document.getElementById("id_abstention")
  nppv = document.getElementById("id_nppv")
  selected_proposition = document.getElementById("id_selected_proposition")

  function getResultatVote(){
    if (abstention.checked) {
      return "s\'abstient"
    } else if (nppv.checked) {
      return "ne prend pas part au vote"
    } else {
      return `a voté pour la proposition "${selected_proposition.options[selected_proposition.selectedIndex].innerText}"`
    }
  }

  function verificationForm(){
    erreur_trop_choix = document.getElementById("erreur")
    if ((nppv.checked && abstention.checked) || (nppv.checked && selected_proposition.value !== "" ) || (abstention.checked && selected_proposition.value !== "" )) {
      if (erreur_trop_choix == null){
        validation.closest(".form").insertAdjacentHTML(
          'afterbegin',
          `<div id="erreur" class="mb-2"><span class="help is-danger ">{% trans "Vous ne pouvez choisir qu'une de ces trois options" %}</span></div>`
        )
        validation.disabled = true
      }
    } else {
      if(erreur_trop_choix){
        erreur_trop_choix.remove()
      }
      validation.disabled = false
    }
    if (!nppv.checked && !abstention.checked && selected_proposition.value === ""){
      validation.disabled = true
    }
  }

  abstention.addEventListener('change',() =>  {
    verificationForm()
  })
  nppv.addEventListener('change',() =>  {
    verificationForm()
  })
  selected_proposition.addEventListener('change',() =>  {
    verificationForm()
  })

  confirmation = document.getElementById("button_confirmation")

  modal = document.querySelector(".modal")
  modalContent = document.querySelector(".modal-card")

  function verificationVotes(){
    cardHeader = document.querySelector(".modal-card-head")
    cardBody = document.querySelector(".modal-card-body")
    cardHeader ? cardHeader.remove() : ''
    cardBody ? cardBody.remove() : ''
    modalContent.insertAdjacentHTML(
      'afterbegin',`<header class="modal-card-head">
      <p class="modal-card-title">Résumé du vote</p>
      <div class="delete" aria-label="close" onclick="modal.classList.remove('is-active')"></div>
      </header>
      <section class="modal-card-body">
      <p>Le syndicat ${getResultatVote()}</p>
      </section>`
    )
  }
  function goToConfirmModal(){
    event.preventDefault()
    verificationVotes()
    modal.classList.add("is-active")
  }

</script>
{% elif scrutin and deja_vote is False and priorisation %}
<script>
  validation = document.getElementById("button_validation")
  validation.disabled = true
  abstention = document.getElementById("id_abstention")
  nppv = document.getElementById("id_nppv")
  propositions = document.querySelectorAll(".proposition")
  nombre_propositions = {{nombre_propositions}}

  let somme_attendue = 0
  for (let i=nombre_propositions+1;i--;) {
    somme_attendue += i
  }

  function verificationPropositions () {

    let somme_inputs = 0

    for(var i=0;i<propositions.length;i++){
      somme_inputs += parseInt(propositions[i].value)
      if (propositions[i].value === "") {
        validation.closest(".form").insertAdjacentHTML(
          'afterbegin',
          `<div id="erreur-manque" class="mb-2"><span class="help is-danger ">{% trans "Les propositions doivent toutes avoir un score." %}</span></div>`
        )
        return true
      }
    }

    if (somme_attendue !== somme_inputs) {
      validation.closest(".form").insertAdjacentHTML(
        'afterbegin',
        `<div id="erreur-somme" class="mb-2"><span class="help is-danger ">{% trans "Merci de vérifier le score attribué à chaque proposition." %}</span></div>`
      )
      return true
    }
    return false
  }

  function verificationForm(){
    erreur_somme = document.getElementById("erreur-somme")
    erreur_manque = document.getElementById("erreur-manque")

    if (erreur_manque){
      erreur_manque.remove()
    }
    if (erreur_somme){
      erreur_somme.remove()
    }

    if (!nppv.checked && !abstention.checked){
      validation.disabled = verificationPropositions()
    }
    if (nppv.checked && abstention.checked){
      validation.disabled=true
    }
    if (nppv.checked || abstention.checked){
      validation.disabled=false
    }
  }

  abstention.addEventListener('change',() =>  {
    if (abstention.checked) {
      nppv.checked = false
      propositions.forEach(p=>{
        p.value=""
        p.disabled=true
      })
    } else{
      propositions.forEach(p=>{
        p.disabled=false
      })
    }
    verificationForm()
  })

  nppv.addEventListener('change',() =>  {
    if (nppv.checked) {
      abstention.checked = false
      propositions.forEach(p=>{
        p.value=""
        p.disabled=true
      })
    } else{
      propositions.forEach(p=>{
        p.disabled=false
      })
    }
    verificationForm()
  })

  propositions.forEach(proposition => {
    proposition.addEventListener('change', event => {
      verificationForm()
    })
  })

  confirmation = document.getElementById("button_confirmation")

  modal = document.querySelector(".modal")
  modalContent = document.querySelector(".modal-card")

  function getResultatVote(){
    if (abstention.checked) {
      return "s\'abstient"
    } else if (nppv.checked) {
      return "ne prend pas part au vote"
    } else {
      propositionsList = Array.from(propositions)
      propositionsList.sort((p1, p2)=> (p1.value < p2.value) ? 1 : (p1.value > p2.value) ? -1 : 0)
      results = ""
      propositionsList.forEach(p=>{
        results += `${p.labels[0].innerText}`
        if (propositionsList.at(-1) !== p){
          results += ', '
        }
      })
      return `a classé les propositions comme suit, de la première à la dernière : ${results}`
    }
  }

  function verificationVotes(){
      cardHeader = document.querySelector(".modal-card-head")
      cardBody = document.querySelector(".modal-card-body")
      cardHeader ? cardHeader.remove() : ''
      cardBody ? cardBody.remove() : ''
      modalContent.insertAdjacentHTML(
        'afterbegin',`<header class="modal-card-head">
        <p class="modal-card-title">Résumé du vote</p>
        <div class="delete" aria-label="close" onclick="modal.classList.remove('is-active')"></div>
        </header>
        <section class="modal-card-body">
        <p>Le syndicat ${getResultatVote()}</p>
        </section>`
      )
    }
  function goToConfirmModal(){
    event.preventDefault()
    verificationVotes()
    modal.classList.add("is-active")
  }
</script>
{% elif scrutin and deja_vote is False and majorite_syndicats%}
<script>
  validation = document.getElementById("button_validation")
  validation.disabled = true
  vote_utilisateur = document.getElementById("id_vote_utilisateur")
  confirmation = document.getElementById("button_confirmation")
  modal = document.querySelector(".modal")
  modalContent = document.querySelector(".modal-card")

  function verificationForm(){
    if (vote_utilisateur.value === ""){
      validation.disabled = true
    } else {
      validation.disabled = false
    }
  }

  vote_utilisateur.addEventListener('change', () => {
    verificationForm()
  })

  function verificationVotes(){
    cardHeader = document.querySelector(".modal-card-head")
    cardBody = document.querySelector(".modal-card-body")
    cardHeader ? cardHeader.remove() : ''
    cardBody ? cardBody.remove() : ''
    modalContent.insertAdjacentHTML(
      'afterbegin',`<header class="modal-card-head">
      <p class="modal-card-title">Résumé du vote</p>
      <div class="delete" aria-label="close" onclick="modal.classList.remove('is-active')"></div>
      </header>
      <section class="modal-card-body">
      <p>Le syndicat vote ${vote_utilisateur.value}</p>
      </section>`
    )
  }

  function goToConfirmModal(){
    event.preventDefault()
    verificationVotes()
    modal.classList.add("is-active")
  }
</script>
{% endif %}

{% endblock %}