{% extends 'base.html' %}

{% load bulma_tags i18n static %}

{% block content %}

<div class="container is-fluid">
  <div class="has-text-centered">
  </div>
  <section class="section">
    <div class="columns is-centered is-desktop">
      <div class="column is-half-desktop ">
        <h1 class="title has-text-centered">{% trans "Réinitialisation" %}</h1>
        <p class="notification is-warning">Attention, cette action est irréversible !</p>
        <div class="box">
        <p class="my-4">La réinitialisation aura les effets suivants :</p>
        <ul class="my-4">
          <li>- supression de tous les scrutins et de leurs votes</li>
          <li>- suppression des logs</li>
        </ul>
        <p class="my-4">Les utilisateurs seront conservés.</p>
          <form class="form" method="post">
            {% csrf_token %}
            {{ form|bulma}}
            <div class="field has-text-centered">
              <button class="button is-success" type="submit">{% trans "Réinitialiser" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
