{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<div class="container is-fluid">
  <section class="section">
    <div class="columns is-centered is-desktop mt-2">
      <div class="column is-half-desktop">
        <h1 class="title has-text-centered">Sud Education vote</h1>
        <h2 class="subtitle has-text-centered has-text-primary">{% trans "Bienvenue !" %}</h2>
        <h2 class="subtitle has-text-centered">{% trans "Vous êtes connecté⋅e en tant que" %} {{user}}</h2>
      </div>
    </div>
  </section>
</div>

{% endblock %}
