{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Sud Education Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'images/icon.jpg' %}" />
    <link type="text/css" href="{% static 'css/bulma.min.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/fork-awesome.min.css' %}" rel="stylesheet"/>
</head>

<body id="{{ self.slug }}-{{ self.id }}">
{% include 'menu.html' %}
{% include 'messages.html' %}
{% block content %}{% endblock %}
</body>
</html>
