{% extends 'base.html' %}

{% load i18n static %}

{% block content %}

<div class="container is-fluid">
  <section class="section">
    <div class="columns is-centered is-desktop mt-2">
      <div class="column is-half is-flex is-flex-direction-column is-align-items-center">
        <h1 class="title has-text-centered">
            {% trans "Mot de passe modifié avec succès" %}
        </h1>
        <p>
            {% trans "Votre mot de passe a été modifié." %}
        </p>
      </div>
    </div>
  </section>
</div>

{% endblock %}