{% extends 'base.html' %}

{% load bulma_tags i18n %}

{% block content %}

<div class="container is-fluid">
  <section class="section">
    <div class="columns is-centered is-desktop mt-2">
      <div class="column is-half-desktop">
        <h1 class="title has-text-centered">{% trans "Connexion" %}</h4>
        <div class="box">
          <form class="form" method="post">
            {% csrf_token %}
            {{ form|bulma }}
            <div class="field has-text-centered">
              <button class="button is-success is-rounded is-outlined" type="submit">{% trans "Connexion" %}</button>
            </div>
          </form>
          <a href="{% url 'password_reset' %}">{% trans "Mot de passe oublié?" %}</a>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
