{% extends 'base.html' %}

{% load i18n static %}

{% block content %}

<div class="container is-fluid">
  <section class="section">
    <div class="columns is-centered is-desktop mt-2">
      <div class="column is-half is-flex is-flex-direction-column is-align-items-center">
        <p>
          {% trans "Vous avez été déconnecté⋅e !" %}
        </p>
      </div>
    </div>
  </section>
</div>

{% endblock %}
