{% load i18n static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{% static 'images/icon.jpg' %}">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="main-navbar" class="navbar-menu">
    <div class="navbar-start">
      {% if user.is_authenticated %}
        {% if user.is_superadmin %}
          <a class="navbar-item" href="{% url 'utilisateur:admins' %}">
            {% trans "Admins" %}
          </a>
          <a class="navbar-item" href="{% url 'vote:reinitialisation' %}">
            {% trans "Réinitialisation" %}
          </a>
        {% elif user.is_syndicat and not vote_admin %}
          <a class="navbar-item" href="{% url 'vote:page-vote' %}">
            {% trans "Vote" %}
          </a>
          <a class="navbar-item" href="{% url 'vote:scrutins' %}">
            {% trans "Scrutins"  %}
          </a>
          <a class="navbar-item" href="{% url 'vote:mes-votes' %}">
            {% trans "Mes votes"  %}
          </a>
        {% else %}
          {% if user.is_admin or vote_admin %}
            <a class="navbar-item" href="{% url 'utilisateur:syndicats' %}">
              {% trans "Syndicats" %}
            </a>
            <a class="navbar-item" href="{% url 'vote:scrutins' %}">
              {% trans "Scrutins"  %}
            </a>
            <a class="navbar-item" href="{% url 'vote:page-vote-admin' %}">
              {% trans "Voter pour un syndicat"  %}
            </a>
          {% endif %}
        {% endif %}
        <a class="navbar-item" href="{% url 'log:journal' %}">
          {% trans "Journal" %}
        </a>
      {% endif %}
    </div>
    <div class="navbar-end">
      {% if user.is_authenticated and not vote_admin %}
        <div class="navbar-item has-dropdown is-hoverable" >
          <a class="navbar-link">
            {{ user }}
          </a>
          <div class="navbar-dropdown is-boxed is-right">
            <a class="navbar-item" href="{% url 'password_change' %}">
              {% trans "Changement mot de passe" %}
            </a>
            <a class="navbar-item" href="{% url 'deconnexion' %}">
              {% trans "Déconnexion" %}
            </a>
          </div>
        </div>
      {% elif vote_admin %}
        <div class="navbar-item has-dropdown is-hoverable" >
          <a class="navbar-link">
            {{ admin }}
          </a>
        </div>
      {% else %}
          <a class="navbar-item" href="{% url 'connexion' %}" >
            {% trans "Connexion" %}
          </a>
      {% endif %}
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Récuperer les éléments "navbar-burger"
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Vérification de leurs existance
    if ($navbarBurgers.length > 0) {

      // On ajoute un événement pour chacun d'eux
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // On récuperer la cible du navbar-burger via l'attribut target
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle la class "is-active" sur la cible et sur le navbar-burger
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>