{% if messages %}
<div class="columns is-centered is-vcentered">
    <div class="column is-half">
        <div class="container">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="notification is-success">
                    <button class="button is-rounded is-success delete">X</button>
                {% elif message.tags == 'error' %}
                <div class="notification is-danger">
                    <button class="button is-rounded is-danger delete">X</button>
                {% elif message.tags == 'warning' %}
                <div class="notification is-warning">
                    <button class="button is-rounded is-warning delete">X</button>
                {% elif message.tags == 'info' %}
                <div class="notification is-info">
                    <button class="button is-rounded is-info delete">X</button>
                {% else %}
                <div class="notification is-primary"></div>
                    <button class="button is-rounded is-primary delete">X</button>
                {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;
        $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
        });
    });
});
</script>

{% endif %}
