{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<div class="container is-fluid">
  <section class="section">
    <div class="columns is-centered is-desktop mt-2">
      <div class="column is-half-desktop">
        <h1 class="title has-text-centered">{% trans "Demande de réinitialisation de mot de passe" %}</h4>
        <div class="box">
            <p>L'email de réinitialisation de mot de passe vous a été envoyé. Veuillez cliquer sur le lien contenu dans l'email pour continuer.</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
