{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<div class="container is-fluid">
  <section class="section">
    <div class="columns is-centered is-desktop mt-2">
      <div class="column is-half-desktop">
        <h1 class="title has-text-centered">{% trans "Changement de mot de passe" %}</h4>
        <div class="box">
            <p>Votre mot de passe a été modifié avec succès!</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}