{% extends 'base.html' %} {% load bulma_tags i18n static %} {% block content %}

<div class="container is-fluid">
	<div class="has-text-centered">
		<a
			class="button is-info is-rounded is-outlined"
			href="{% url 'utilisateur:syndicats' %}">
			{% trans "Retour à la liste des syndicats" %}
		</a>
	</div>
	<section class="section">
		<div class="columns is-centered is-desktop">
			<div class="column is-half-desktop">
				<h1 class="title has-text-centered">
					{% trans "Import des mandats" %}
				</h1>
				<p class="has-text-centered">
					Le nom du syndicat doit correspondre à celui déjà attribué à
					un syndicat. Le fichier importé doit être au format .csv et
					doit comprendre un en-tête et être structuré ainsi :
				</p>
				<div class="is-flex is-justify-content-center">
					<table class="table mt-3 is-bordered is-narrow">
						<thead>
							<tr>
								<th>Syndicats</th>
								<th>Mandats</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Ain (01)</td>
								<td>67</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="has-text-centered box m-6">
					<form
						class="form"
						method="post"
						enctype="multipart/form-data">
						{% csrf_token %} {{ form|bulma}}
						<div class="field has-text-centered">
							<button
								class="button is-success is-rounded is-outlined"
								type="submit">
								{% trans "Valider" %}
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
<script>
	control = document.querySelector(".control");
	control.classList.add("is-flex");
	control.classList.add("is-justify-content-center");

	uploadIcon = document.querySelector(".fas");
	uploadIcon.classList.remove("fas");
	uploadIcon.classList.add("fa");
</script>

{% endblock %}
