{% extends 'base.html' %}

{% load i18n static %}

{% block content %}

<div class="container is-fluid">
    <section class="section">
        <h1 class="title has-text-centered">{% trans "Liste des admins" %}</h1>
        <div class="columns is-centered">
            <div class="column is-full has-text-centered">
                <a class="mb-2 button is-info is-rounded is-outlined" href="{% url 'utilisateur:admin-creation' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                {% if object_list %}
                <div class="table-container">
                  <table class="table table-center is-fullwidth">
                      <thead>
                        <tr>
                          <th>{% trans "Nom" %}</th>
                          <th>{% trans "Email" %}</th>
                          <th>{% trans "Actions" %}</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for utilisateur in object_list %}
                          <tr>
                              <td>{{utilisateur.username}}</td>
                              <td>{{utilisateur.email}}</td>
                              <td>
                                <a href="{% url 'utilisateur:admin-edition' pk=utilisateur.pk %}">
                                    <button class="button is-info is-outlined">{% trans "Mise à jour" %}</button>
                                </a>
                                <a href="{% url 'utilisateur:admin-supression' pk=utilisateur.pk %}">
                                    <button class="button is-danger is-outlined">{% trans "Suppression" %}</button>
                                </a>
                              </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>
                {% else %}
                <h2 class="title is-5 has-text-centered">
                    {% trans "Il n'y a pas encore d'admins enregistrés!" %}
                </h2>
                {% endif %}
            </div>
        </div>
    </section>
</div>

{% endblock %}
