{% extends 'base.html' %}

{% load i18n static %}

{% block content %}

<div class="container is-fluid">
    <section class="section">
        <h1 class="title has-text-centered">{% trans "Liste des syndicats" %}</h1>
        <div class="columns is-centered">
            <div class="column is-full has-text-centered">
                <a class="button is-info my-2 mb-3 is-rounded is-outlined" href="{% url 'utilisateur:syndicat-creation' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                <a class="button is-info my-2 mb-3 is-rounded is-outlined" href="{% url 'utilisateur:import-mandats' %}">
                    <i class="fa fa-upload p-2" aria-hidden="true"></i>Importer mandats
                </a>
                {% if object_list %}
                <div class="table-container">
                  <table class="table table-center is-fullwidth">
                      <thead>
                        <tr>
                          <th>{% trans "Nom" %}</th>
                          <th>{% trans "Email" %}</th>
                          <th>{% trans "Mandats" %}</th>
                          <th>{% trans "Action" %}</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for utilisateur in object_list %}
                          <tr>
                              <td>{{utilisateur.username}}</td>
                              <td>{{utilisateur.email}}</td>
                              <td>{{utilisateur.nombre_mandat}}</td>
                              <td class="has-text-left">
                                <a href="{% url 'utilisateur:syndicat-edition' pk=utilisateur.pk %}">
                                    <button class="button is-info is-outlined">{% trans "Mise à jour" %}</button>
                                </a>
                                <a href="{% url 'utilisateur:syndicat-suppression' pk=utilisateur.pk %}">
                                    <button class="button is-danger is-outlined">{% trans "Supprimer" %}</button>
                                </a>
                              </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>
                {% else %}
                <h2 class="title is-5 has-text-centered">
                    {% trans "Il n'y a pas encore de syndicats enregistrés!" %}
                </h2>
                {% endif %}
            </div>
        </div>
    </section>
</div>

{% endblock %}