{% extends 'base.html' %}

{% load bulma_tags i18n static %}

{% block content %}
  <div class="container is-fluid">
    <section class="section">
      <div class="has-text-centered">
        <a class="button is-info is-rounded is-outlined" href="{% url 'utilisateur:syndicats' %}">
          {% trans "Retour à la liste des syndicats" %}
        </a>
      </div>
      <h1 class="title mt-6 has-text-centered">{% trans "Suppression de syndicat" %}</h1>
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <div class="box m-6 has-text-centered">
            <form method="post" class="form has-text-centered">{% csrf_token %}
              <p class="m-2"><strong>{% trans "Êtes vous sûr·e·s de vouloir supprimer le syndicat "%} {{object}}?</strong></p>
              <input class="button is-danger is-outlined" type="submit" value="{% trans 'Confirmer' %}">
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
