{% extends 'base.html' %}

{% load i18n static %}

{% block content %}

<div class="container is-fluid">
    <section class="section">
        <h1 class="title has-text-centered">{% trans "Journal des logs" %}</h1>
        <div class="columns is-centered">
            <div class="column is-full">
                {% if object_list %}
                    <div>
                        <a class="button is-success is-rounded is-outlined" href="{% url 'log:journal-export'%}">
                            {% trans "Export txt" %}
                        </a>
                    </div>
                    <div class="table-container">
                    <table class="table table-center is-fullwidth">
                        <thead>
                            <tr>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Log" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for log in object_list %}
                            <tr>
                                <td>{{log.date_log}}</td>
                                <td>{{log.log}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>

                {% else %}
                    <h2 class="title is-5 has-text-centered">
                        {% trans "Il n'y a pas encore de logs enregistrés!" %}
                    </h2>
                {% endif %}
            </div>
        </div>
    </section>
</div>

{% endblock %}
