{% if form.non_field_errors %}
<div class="columns is-centered is-vcentered">
    <div class="column is-half">
        <div class="container">
            <div class="notification is-danger">
                <button class="button is-rounded is-danger delete">X</button>
                <div class="mt-2">
                {% for non_field_error in form.non_field_errors %}
                    {{ non_field_error }}
                {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;
            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
{% endif %}

{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}

{% for field in form.visible_fields %}
  {% include 'bulma/forms/field.html' %}
{% endfor %}